  <td><%= image_tag contact.photo.url(:thumb) %></td>
  <td><%= contact.last_name %></td>
  <td><%= contact.first_name %></td>

  <td>

    <%= link_to 'View Details',
                open_contact_modal_path(id: contact.id),
                remote: true,
                class: 'btn btn-default'
    %>


    <% if @current_user.nil? %>

      <%= link_to 'Sign In To Edit', sign_in_path %>

    <% else %>

      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#contact-edit-<%= contact.id %>">
        Edit
      </button>

      <%= link_to 'Delete', delete_contact_path(id: contact.id, page: params[:page]), method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: 'btn btn-danger contact-delete' %>


    <% end %>
  </td>

<!-- Modal -->
<div class="modal fade" id="contact-edit-<%= contact.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Editing <%= contact.full_name %></h4>
      </div>
      <div class="modal-body">
        <div class="remote-contact-form">
          <%= render partial: 'rolodex/form', locals: {contact: contact} %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
